$white:#fff;
$primary: $white;
$secondary:#20272E;
$colorSection:#000;
$headerText:#333;
$colorSilver:#D3CED1;
$bgColorWord:#00BFFF;
$bgColorCardFooter: #21232F;
$bgColorBanner: #739D07;
$bgImage:linear-gradient(to right bottom, rgba(180, 199, 176, 0.1), rgba(83, 90, 88, 0.1)),
url(../img/m-h-day.jpg);
$bannerGradient:linear-gradient(to right, $bgColorBanner, #3261CB);
$fontFamilyPrimary:'Source Sans Pro',
sans-serif;
$fontFamilySecondary:'Hind',
sans-serif;